

body {
  background: #f0efed;
}

@font-face {
  font-family: DilleniaUPC;
}
body,
* {
  padding: 0;
  margin: 0;
}
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #909f88;
  display: inline-block;
  height: 100vh;
  position: absolute;
}
.nav li {
  cursor: pointer;
  border-top: 1px solid #fbfbfd;
  border-bottom: 1px solid #fbfbfd;
  margin-bottom: -1px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 23px;
  font-family: "DilleniaUPC", serif;
  color: #000;
}
.nav li div,
.nav li i {
  position: absolute;
  text-align: center;
  animation-duration: 0.34s;
}
.nav li div {
  margin-left: 5px;
  text-align: center;
  width: 160px;
}
.nav li i {
  line-height: 60px;
  width: 60px;
  z-index: 9;
  background: #e4b8af;
}
.nav li div {
  display: none;
  z-index: 1;
  background: #e4b8af;
}

.nav li:hover > div {
  display: inline-block;
}
.nav li:hover i {
  background: #ed1c24;
}


